
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>jdbcUrl</param-name>
        <param-value>jdbc:postgresql://localhost:5555/jdbc</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>helloworld</param-value>
    </context-param>


    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.example.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>
